<%- include('templates/header')-%>

<h1>Anda harus login untuk melanjutkan</h1>
<p class="text-muted">Login <a href="/login">Disini</a> </p>
<p class="text-muted">Belum memiliki akun? <a href="/register">Daftar</a> </p>

<%- include('templates/footer')-%>